/* esquema monocromático a partir da cor determinada por --hue-principal */
:root {
    --hue-principal: 140; /* em angulo (hue)*/
    --cor-frente-principal: hsl(var(--hue-principal), 100%, 20%);
    --cor-frente-escura: hsl(var(--hue-principal), 0%, 20%);
    --cor-frente-clara: hsl(var(--hue-principal), 100%, 100%);
    --cor-fundo-escura: hsl(var(--hue-principal), 0%, 20%);
    --cor-fundo-media1: hsl(var(--hue-principal), 100%, 80%);
    --cor-fundo-media2: hsl(var(--hue-principal), 100%, 40%);
    --cor-fundo-media3: hsl(var(--hue-principal), 40%, 20%);
    --cor-fundo-media4: hsl(var(--hue-principal), 100%, 95%);
    --cor-fundo-media5: hsl(var(--hue-principal), 20%, 20%);
    --cor-fundo-clara: hsl(var(--hue-principal), 100%, 100%);
}

h1, h2, h3, p {
    color: var(--cor-frente-escura);
}

input {
    color: var(--cor-fundo-media5);
}

input:focus {
    border: 1px solid var(--cor-fundo-media1);
}