/* esquema monocromático a partir da cor determinada por --hue-principal */
:root {
    --hue-principal: 240; /* em angulo (hue)*/
    --cor-frente-principal: hsl(var(--hue-principal), 100%, 20%);
    --cor-frente-escura: hsl(var(--hue-principal), 0%, 20%);
    --cor-frente-clara: hsl(var(--hue-principal), 100%, 100%);
    --cor-fundo-escura: hsl(var(--hue-principal), 0%, 20%);
    --cor-fundo-media1: hsl(var(--hue-principal), 100%, 60%);
    --cor-fundo-media2: hsl(var(--hue-principal), 100%, 40%);
    --cor-fundo-media3: hsl(var(--hue-principal), 40%, 20%);
    --cor-fundo-media4: hsl(var(--hue-principal), 100%, 90%);
    --cor-fundo-clara: hsl(var(--hue-principal), 100%, 100%);
}

h1, h2, h3, p {
    color: var(--cor-frente-escura);
}