/* Botão  */

.botao {
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
    background-color: transparent;
}

/* Caixa */
.caixa {
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.caixa:last-child() {
    margin-right: 0;
}

.caixa-header {
    margin-bottom: 10px;
}

.caixa-footer {
    margin-top: 10px;
}