@import url('reset.css');
@import url('colors.css');
@import url('fontes.css');
@import url('componentes.css');

/* Layout */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

header {
    display: flex;
    justify-content: space-between;
}

#busca {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 8px;
}

#busca #lblAtor {
    grid-column: 1/1;
    grid-row: 1/1;
}

#busca #ator {
    grid-column: 1/1;
    grid-row: 2/2;
}

#busca #lblGenero {
    grid-column: 2/2;
    grid-row: 1/1;
}

#busca #genero {
    grid-column: 2/2;
    grid-row: 2/2
}

#busca #lblAno {
    grid-column: 3/3;
    grid-row: 1/1;
}

#busca #ano {
    grid-column: 3/3;
    grid-row: 2/2;
}

#busca button {
    grid-column: 4/4;
    grid-row: 2/2;
}

#detalhe-filme {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

#poster {
    grid-column: 1/1;
    grid-row: 1/3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#info-geral {
    grid-column: 2/2;
    grid-row: 1/1;
}

#envolvidos {
    grid-column: 2/2;
    grid-row: 2/2;
    display: flex;
    justify-content: space-between;
}

/* #envolvidos li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

#atores ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Genéricos */
input {
    padding: 4px 8px;
    border: 0;
    border-radius: 4px;
}

a, a:hover {
    text-decoration: none;
}

button {
    border: 1px solid var(--cor-fundo-escura);
    color: var(--cor-fundo-escura);
}

button:hover {
    background-color: var(--cor-fundo-media3);
    color: var(--cor-frente-clara);
}

/* Logo */
#logo {
    font-size: 1.5em;
    font-variant-caps: all-small-caps;
}

#logo .parte1{
    color: var(--cor-fundo-media2);
}

#logo .parte2 {
    color: var(--cor-fundo-media3);
    font-weight: 700;
}

/* Cabeçalho */
header {
    z-index: 99;
    padding: 4px 0;
    background-color: var(--cor-fundo-clara);
    border-bottom: 1px solid var(--cor-fundo-media4);
    box-shadow: 0 1px 5px var(--cor-fundo-escura);
    position: fixed;
    width: 100vw;
    margin: 0;
}

header button {
    background-color: inherit;
    border: 0px;
    cursor: pointer;
}

header button:hover {
    background-color: transparent;
    color: inherit;
}

header button#btnFormBusca {
    margin-right: 18px;
}

/* Main */
main {
    background-color: var(--cor-fundo-clara);
    margin-top: 20px;
}

/* Filmes */
#filmes {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: center;
}

#filmes .caixa {
    background-color: var(--cor-fundo-media4);
    border: 1px solid var(--cor-fundo-media1);
    /* box-shadow: 0 3px 5px var(--cor-fundo-escura); */
    flex-basis: 300px;
}

.generos {
    display: flex;
    justify-content: flex-start;
}

.generos li {
    background-color: var(--cor-fundo-media3);
    color: var(--cor-frente-clara);
    padding: 5px;
    border-radius: 4px;
    font-size: 0.9em;
    margin-right: 4px;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 20px;
    background-color: var(--cor-fundo-escura);
}

footer p {
    color: var(--cor-frente-clara);
}

/* Busca */
#busca {
    margin-top: 33px;
    background-color: var(--cor-fundo-media2);
    padding: 40px;
    color: var(--cor-frente-clara);
    border-bottom: 1px solid var(--cor-fundo-media3);
}

/* Detalhes */

#detalhe-filme {
    padding: 33px 80px;
}

#info-geral button {
    margin-top: 20px;
}

#titulo-filme {
    margin: 0 0 20px 0;
}

#atores li {
    margin-right: 12px;
}

#envolvidos h2 {
    margin-bottom: 12px;
}

#sinopse {
    font-size: 1.125em;
    line-height: 1.15em;
    margin: 20px 0;
}

/* Menu Lateral */
#menuLateral {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 100vh;
    background-color: var(--cor-fundo-media2);
    padding: 50px 14px;
    color: var(--cor-frente-clara);
    z-index: 1;
    border-right: 1px solid var(--cor-fundo-media3);
}

#login h3, #login input {
    margin-bottom: 8px;
}