@import url('reset.css');
@import url('colors.css');
@import url('fontes.css');
@import url('componentes.css');

/* Layout */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

/* Logo */
#logo {
    font-size: 1.5em;
    font-variant-caps: all-small-caps;
}

#logo .parte1{
    color: var(--cor-fundo-media2);
}

#logo .parte2 {
    color: var(--cor-fundo-media3);
    font-weight: 700;
}

/* Cabeçalho */
header {
    background-color: var(--cor-fundo-clara);
    padding: 4px 0;
    border-bottom: 1px solid var(--cor-fundo-media4);
    box-shadow: 0 2px 5px var(--cor-fundo-escura);
    text-align: center;
    position: fixed;
    width: 100vw;
}

/* Slides */
.slide {
    background-color: var(--cor-fundo-escura);
    height: 300px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide img {
    width: 80%;
}

/* Main */
main {
    background-color: var(--cor-fundo-clara);
}

/* Filmes */
#filmes {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: center;
}

#filmes .caixa {
    background-color: var(--cor-fundo-media4);
    border: 1px solid var(--cor-fundo-media1);
    /* box-shadow: 0 3px 5px var(--cor-fundo-escura); */
    flex-basis: 300px;
}

.generos {
    display: flex;
    justify-content: flex-start;
}

.generos li {
    background-color: var(--cor-fundo-media3);
    color: var(--cor-frente-clara);
    padding: 5px;
    border-radius: 4px;
    font-size: 0.9em;
    margin-right: 4px;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 20px;
    background-color: var(--cor-fundo-escura);
}

footer p {
    color: var(--cor-frente-clara);
}