@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

body {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

/* 
Tamanhos de fonte 
=================

1.5     = 24px
1.125em = 18px
1em  = 16px
0.75 em = 12px

*/

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.125em;
}

h3 {
    font-size: 1em;
}

p, button, input, textarea, select {
    font-size: 0.875em;
}